body {
	background-color: #50C878;
}

html, body {
    height: 100%;
    margin: 0;
}



h1 {
  color: white;
  text-align: left;
  font-family: 'Palatino', sans-serif;
  margin-left: 5px;
}

h2 {
  color: white;
  text-align: left;
  font-family: 'Palatino', sans-serif;
  margin-left: 5px;
}

#linki {
    list-style: none;
    padding: 0;
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
	
	
}

 
		
#button-container {
    margin-top: 16px; /* Dodany odstęp między nagłówkiem a przyciskiem */
}
#checkbutton-container {
    margin-top: 16px; /* Dodany odstęp między nagłówkiem a przyciskiem */
 }
		
.checkbox-container input[type="checkbox"] {
	background-color: green;
	border: 1px solid darkgreen;
	color: white; /* Kolor tekstu (jeśli chcesz zmienić) */
	
	height: 17px;
	width: 17px;
	background-color: #eee;
	
}
.checkbox-container {
    margin-bottom: 2px;
}

.checkbox-container input {
    margin-right: 5px;
}

.checkbox-container label {
    
    margin-bottom: 8px; /* Margines na dole */
    font-size: 16px; /* Rozmiar tekstu */
    color: white; /* Kolor tekstu */
	font-family: 'Palatino', sans-serif;
	font-weight: bold;
}

.checkbox-container label a {
    color: inherit; /* Dziedziczenie koloru od rodzica (czyli od etykiety) */
     /* Usunięcie podkreślenia */
}


.button {
  background-color: #333;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 5px;
  font-family: 'Palatino', sans-serif;
  font-weight: bold;
}

.button:hover {opacity: 0.6}

.buttoncheck {
  background-color: #333;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 5px;
  font-family: 'Palatino', sans-serif;
  font-weight: bold;
}

.buttoncheck:hover {opacity: 0.6}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Palatino', sans-serif;
   
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the footer */
.footer {
    background-color: #333;
    color: white;
    position: absolute;
    width: 100%;
}

#linki {
      margin-bottom: 60px; /* Adjust the value based on the height of your footer */
    }

.labels {
    margin-right: 10px; /* Dodaj margines z prawej strony */
}

/* Styl dla pola wprowadzania liczby */
#wprowadzLiczbeMin {
    padding: 8px; /* Dodaj wypełnienie dla estetyki */
    border: 1px solid #ccc; /* Dodaj obramowanie */
    border-radius: 5px; /* Zaokrągl rogi */
    font-size: 16px; /* Zwiększ rozmiar czcionki */
}

/* Dodatkowy styl, gdy pole jest aktywne */
#wprowadzLiczbeMin:focus {
    outline: none; /* Usuń domyślny kontur (ostrzeżenie: to może wpłynąć na dostępność) */
    border-color: dodgerblue; /* Zmień kolor obramowania podczas aktywacji */
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.8); /* Dodaj lekki cień */
}

#wprowadzLiczbeMax {
    padding: 8px; /* Dodaj wypełnienie dla estetyki */
    border: 1px solid #ccc; /* Dodaj obramowanie */
    border-radius: 5px; /* Zaokrągl rogi */
    font-size: 16px; /* Zwiększ rozmiar czcionki */
}

/* Dodatkowy styl, gdy pole jest aktywne */
#wprowadzLiczbeMax:focus {
    outline: none; /* Usuń domyślny kontur (ostrzeżenie: to może wpłynąć na dostępność) */
    border-color: dodgerblue; /* Zmień kolor obramowania podczas aktywacji */
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.8); /* Dodaj lekki cień */
}

.labels2 {
  margin-left: 5px;
  color: white;
  text-align: left;
  font-family: 'Palatino', sans-serif;
  font-weight: bold;
}

/* Styl dla pola wyboru */
#wybor {
    padding: 8px; /* Dodaj wypełnienie dla estetyki */
    border: 1px solid #ccc; /* Dodaj obramowanie */
    border-radius: 5px; /* Zaokrągl rogi */
    font-size: 16px; /* Zwiększ rozmiar czcionki */
}

/* Dodatkowy styl, gdy pole jest aktywne */
#wybor:focus {
    outline: none; /* Usuń domyślny kontur (ostrzeżenie: to może wpłynąć na dostępność) */
    border-color: dodgerblue; /* Zmień kolor obramowania podczas aktywacji */
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.8); /* Dodaj lekki cień */
}

#wybor2 {
    padding: 8px; /* Dodaj wypełnienie dla estetyki */
    border: 1px solid #ccc; /* Dodaj obramowanie */
    border-radius: 5px; /* Zaokrągl rogi */
    font-size: 16px; /* Zwiększ rozmiar czcionki */
}

/* Dodatkowy styl, gdy pole jest aktywne */
#wybor2:focus {
    outline: none; /* Usuń domyślny kontur (ostrzeżenie: to może wpłynąć na dostępność) */
    border-color: dodgerblue; /* Zmień kolor obramowania podczas aktywacji */
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.8); /* Dodaj lekki cień */
}

.gs {
	widh: 60px;
	height: 20px;
}

        .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            animation: fadeIn 0.3s ease-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .close-button {
            cursor: pointer;
            font-weight: bold;
            color: #333;
        }
.discord {
	widh: 50px;
	height: 50px;
	float: left;
	margin-left: 20px;
	}
	
.dc {
	widh: 20px;
	height: 20px;
	float: left;
	margin-left: 5px;
	font-family: 'Palatino', sans-serif;
	font-weight: bold;
	}
	
#suwak-glosnosci {
    width: 150px; /* Dostosuj szerokość suwaka według potrzeb */
    margin-top: 10px;
	margin-left: 5px;
}

#speaker {
	margin-left: 5px;
}

.modal-content {
	font-family: 'Palatino', sans-serif;
}

.close-button {
	float: right;
}

.playButton {
    margin-left: 5px; /* Dodaj margines z lewej strony */
    background-color: transparent; /* Ustaw tło na przezroczyste */
    border: none; /* Usuń obramowanie */

}
